@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

.container {
  padding: 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 48px;
  }
}
